header {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column; /* Display children in a column layout */
  align-items: center;
}

h1 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 600px) {
  .header {
    padding: 10px; /* Adjust the padding to make the header smaller */
  }

  h1 {
    font-size: 10px; /* Adjust the font size for smaller screens */
  }
}