.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.keyboard button {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  margin: 2px;
  width: 30px;
  background-color: #ccc; /* Grey background */
  border: 1px solid #000; /* Thin black border */
  border-radius: 4px; /* Slightly rounded corners */
  color: #000; /* Black text */
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboard .keyboard-bottom-row button[data-key="enter"],
.keyboard .keyboard-bottom-row button[data-key="delete"] {
  font-size: 12px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboard button[data-key="delete"] {
  margin-right: 0;
}

/* Additional styles for centering the keyboard horizontally */
/* Adjust as needed based on your layout */
.keyboard-top-row,
.keyboard-middle-row,
.keyboard-bottom-row {
  display: flex;
  justify-content: center;
}

.keyboard-top-row {
  margin-bottom: 10px;
}

.keyboard-bottom-row {
  margin-top: 10px;
}
